@use "../sass-utils/variables" as v;

.main-content-section {
  margin: v.$margin-20px * 2 0;

  .main-content-heading {
    align-items: center;
    margin: v.$margin-20px 0;

    i {
      font-size: v.$content-text-size * 3;
      margin-right: v.$margin-20px;
    }

    @media (min-width: v.$screen-laptop) {
      justify-content: flex-start;
    }
  }

  .main-content-container {
    margin-top: 30px;
    ul {
      list-style-type: square;
    }
  }
  .main-content-img-text {
    p {
      font-size: v.$content-text-size;
    }
    .main-content-img {
      max-width: 100%;
      margin: v.$margin-20px 0;

      @media (min-width: v.$screen-laptop) {
        max-width: 40%;
        margin: 0 v.$margin-20px 0 0;
      }
    }

    @media (min-width: v.$screen-laptop) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}
